
.carousel {
    margin: 0;
    padding: 0;
}
.carouselCaption {
    padding: 1em;
    margin: 1em;
    background-color: #ffffffa6;
}

.carouselCaption h3 {
    color: #000000;
    font-weight: bolder;
}
.carouselCaption p {
    color: #000000;
    font-weight: bold;
}

.carouselCaption .carouselDeployIcon {
    margin: 1em;
    width: 2em;
    height: 2em;
    color: #000000;
}
.carouselCaption .carouselCodeIcon {
    margin: 1em;
    width: 2em;
    height: 2em;
    color: #000000;
}
@media  (min-width: 320px) and (max-width: 415px) {
    .carousel {
        margin: 0;
        padding: 0;
    }
    .carouselCaption {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 9em ;
        width: 17em;
        background-color: #ffffffa6;
    }
    
    .carouselCaption h3 {
        font-size: 11px ;
        color: #000000;
        font-weight: bolder;
    }
    .carouselCaption p {
        font-size: 7px;
        color: #000000;
        font-weight: bold;
    }

    .carouselCaption .carouselDeployIcon  {
        margin: 1;
        width: 1em;
        height: 1em;
        color: #000000;
    }
    .carouselCaption .carouselCodeIcon {
        margin: 2;
        width: 1em;
        height: 1em;
        color: #000000;
    }
}
