.langs button {
  background: none;
  border: transparent;
}
.header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.header p,
h3 {
  color: #000;
}
.togglerBtn .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 173, 78)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.togglerBtn  {
  border-color: rgb(240, 173, 78);
}
.headerColorChanged {
  background-color: #00000062;
  transition: 2.5s all ease-in;
  cursor: pointer;
}
.headerLinkColorChanged p {
  color: #f0ad4e;
  transition: 1.5s all ease;
  cursor: pointer;
}
.navbarTitleChanged h3 {
  color: #f0ad4e;
  transition: 1.5s all ease;
  cursor: pointer;
}
